<%
  submitted_time = ""
  time = comment.created_at + 9 * 3600

  if time.hour < 10
    submitted_time += "0"
  end
  submitted_time += (time.hour % 24).to_s + ":"
  if comment.created_at.min < 10
    submitted_time += "0"
  end
  submitted_time += comment.created_at.min.to_s

  submitted_date = "'"
  if time.year % 100 < 10
    submitted_date = "0"
  end
  submitted_date += (time.year % 100).to_s + "/"
  if time.month < 10
    submitted_date += "0"
  end
  submitted_date += time.month.to_s + "/"
  if time.day < 10
    submitted_date += "0"
  end
  submitted_date += time.day.to_s

  sender = User.find(comment.sender_id)
  receiver = User.find(comment.receiver_id)
%>

<% if @current_user_id == sender.id %>
  <table align="right" style="border-collapse:collapse;">
    <tr>
      <td class="msg_useid" valign="center" align="right">
        <strong><%= sender.userid %></strong>
      </td>
      <td class="msg_time msg" align="center">
        <small class="time_time"><strong><%= submitted_time %></strong></small>
      </td>
    </tr>

    <tr>
      <td class="msg_msg">
        <big><strong><%= comment.content %></strong></big>
      </td>
      <td class="msg_usericon msg" align="center">
            <% if sender.image.url != nil %>
              <%= image_tag sender.image.url, :class => "room_icons" %>
            <% else %>
              <%= image_tag "人物_デフォルト.png", :class => "room_icons" %>
            <% end %>
      </td>
    </tr>

    <tr>
      <td align="left"><small class="time_date"><%= submitted_date %></small></td>
      <td></td>
    </tr>
  </table>

<% else %>
  <table style="border-collapse:collapse;">
    <tr>
      <td class="msg_time msg" align="center">
        <small class="time_time"><strong><%= submitted_time %></strong></small>
      </td>
      <td class="msg_useid" valign="center">
        <strong><%= sender.userid %></strong>
      </td>
    </tr>

    <tr>
      <td class="msg_usericon msg" align="center">
            <% if 60 < Time.now - comment.created_at %>
              <% if sender.image.url != nil %>
                <%= image_tag sender.image.url, :class => "room_icons comment_left"%>
              <% else %>
                <%= image_tag "人物_デフォルト.png", :class => "room_icons" %>
              <% end %>
            <% else %>
              <%= image_tag "新着_デフォルト.png", :class => "roomnew_icons" %>
            <% end %>
      </td>
      <td class="msg_msg">
        <big><strong><%= comment.content %></strong></big>
      </td>
    </tr>

    <tr>
      <td></td>
      <td align="right">
        <small class="time_date"><%= submitted_date %></small>
      </td>
    </tr>
  </table>
<% end %>

<br clear="all">
