<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <center>
    <table>
      <tbody>
        <tr>
          <td><%= form.label "名前　　　", class:"user_create_label" %></td>
          <td><%= form.text_field :name, class:"user_create_field", placeholder: "名前" %></td>
        </tr>

        <tr>
          <td><%= form.label "ユーザーID　　　", class:"user_create_label" %></td>
          <td><%= form.text_field :userid, class:"user_create_field", placeholder: "ユーザーID" %></td>
        </tr>

        <tr>
          <td><%= form.label "パスワード　　　", class:"user_create_label" %></td>
          <td><%= form.password_field :password, class:"user_create_field", placeholder: "パスワード" %></td>
        </tr>

        <tr>
          <td><%= form.label "パスワード(再確認)　　　", class:"user_create_label" %></td>
          <td><%= form.password_field :password_confirmation, class:"user_create_field", placeholder: "パスワード(再確認)" %></td>
        </tr>
      </tbody>
    </table>
  </center>

  <br><br>

  <center>
    <table>
      <tbody>
        <tr>
          <td>
            <%= form.label :image, "プロフィール画像を追加", class:"image_input_btn" %>
            <%= form.file_field :image, class:"image_form" %>
          </td>
          <td><%= form.submit "更新する", class:"user_edit_link" %></td>
        </tr>
      </tbody>
    </table>
  </center>
<% end %>
