<div class="" style="float:right">
  <table>
    <tr>
      <td rowspan="2">
        <% if @current_user.image.url != nil %>
          <%= image_tag @current_user.image.url, class:"index_icons" %>
        <% else %>
          <%= image_tag "人物_デフォルト.png", class:"index_icons" %>
        <% end %>
      </td>
      <td class="myprofile_area1"><%= "名前"%></td>
      <td class="myprofile_area2"><big><strong><%= @current_user.name %></strong></big></td>
    </tr>

    <tr>
      <td class="myprofile_area1"><%= "ユーザーID" %></td>
      <td class="myprofile_area2"><big><strong><%= @current_user.userid %></strong></big></td>
    </tr>
  </table>



  <div class="item-list">

    <div>
      <%= button_to 'ユーザー検索', search_path, method: :get, class: 'user_btn search_link' %>
    </div>

    <div>&emsp;</div>

    <div>
      <%= button_to 'ユーザー情報編集', "/users/select", method: :get, class: 'user_btn edit_link' %>
    </div>

    <div>&emsp;</div>

    <div>
      <%= button_to 'ログアウト', logout_path, method: :delete, class: 'user_btn logout_link' %>
    </div>

    <div>&emsp;</div>

    <div>
      <%= button_to 'アカウント削除', @current_user, method: :delete, class: 'user_btn destroy_link', data: { confirm: 'このアカウントは元に戻せません、よろしいですか？' } %>
    </div>

  </div>

</div>
