<div class="" style="float:left">
  <center><h2>フォローリスト</h2></center>
<% if @user != nil && @user.id != current_user.id %>
  <table>
    <tbody>
      <% @users.each do |friend| %>
        <%
          @current_user = User.find(current_user.id)
          @judge_result = judge_ff(@user.id, friend.id)
          @follow = (@judge_result - @judge_result % 10) / 10
          @follower = @judge_result % 10
        %>
        <% if @user.id != friend.id && @follow == 2 %>
          <tr class="index_row">
            <td class="ff_image">
              <% if @judge_result == 22 %>
                <%= image_tag "ff#{@judge_result}.png", class:"ff_image" %>
              <% elsif @judge_result == 21 %>
                <%= image_tag "ff#{@judge_result}.png", class:"ff_image" %>
              <% elsif @judge_result == 20 %>
                <%= image_tag "ff#{@judge_result}.png", class:"ff_image" %>
              <% elsif @judge_result == 12 %>
                <%= image_tag "ff#{@judge_result}.png", class:"ff_image" %>
              <% elsif @judge_result == 11 %>
                <%= image_tag "ff#{@judge_result}.png", class:"ff_image" %>
              <% elsif @judge_result == 10 %>
                <%= image_tag "ff#{@judge_result}.png", class:"ff_image" %>
              <% elsif @judge_result == 2 %>
                <%= image_tag "ff0#{@judge_result}.png", class:"ff_image" %>
              <% elsif @judge_result == 1 %>
                <%= image_tag "ff0#{@judge_result}.png", class:"ff_image" %>
              <% elsif @judge_result == 0 %>
                <%= image_tag "ff0#{@judge_result}.png", class:"ff_image" %>
              <% end %>
            </td>

            <%
              @current_user = User.find(current_user.id)
              @judge_result = judge_ff(current_user.id, friend.id)
              @follow = (@judge_result - @judge_result % 10) / 10
              @follower = @judge_result % 10
            %>


            <td>
                <% if friend.image.url != nil %>
                  <%= image_tag friend.image.url, :class => "index_icons", style:"float:left" %>
                <% else %>
                  <%= image_tag "人物_デフォルト.png", :class => "index_icons", style:"float:left" %>
                <% end %>
            </td>

            <% if friend.id == current_user.id %>
              <td><%= link_to friend.userid, users_path, class:"follower_name", style:"float:right" %></td>
            <% else %>
              <td><%= link_to friend.userid, friend, class:"follower_name", style:"float:right" %></td>
            <% end %>

            <td>
              <% if friend.id != current_user.id %>
                <% if @follow == 2 %>
                  <div class="followed_link">
                    <%= link_to 'フォロー解除', friends_edit2_path(user_id: current_user.id, friend_id:friend.id), method: :get %>
                  </div>
                <% elsif @follow == 1 %>
                  <div class="following_link">
                    <%= link_to 'フォロー申請中', friends_edit2_path(user_id: current_user.id, friend_id:friend.id), method: :get %>
                  </div>
                <% elsif @judge_result == 2 %>
                  <div class="followback_link">
                    <%= link_to "フォローバック", friends_create_path(friend_id:friend.id) %>
                  </div>
                <% elsif @judge_result == 1 || @judge_result == 0 %>
                  <div class="follow_link">
                    <%= link_to "フォロー申請", friends_create_path(friend_id:friend.id) %>
                  </div>
                <% end %>
              <% else %>
                <div class="roomEmpty"></div>
              <% end %>
            </td>

            <% if @judge_result == 22 %>
            <%
              if current_user.id < friend.id
                @user_id1, @user_id2 = current_user.id, friend.id
              else
                @user_id1, @user_id2 = friend.id, current_user.id
              end

              @room = Room.find_by(user_id1:@user_id1, user_id2:@user_id2)
              if friend.id != current_user.id
                if @room == nil
              %>

                  <td><%= button_to 'ルーム作成', rooms_create_path(user_id1:@user_id1, user_id2:@user_id2), method: :post, class:"roomMake_link" %></td>
                <% else %>
                  <td><%= button_to 'ルーム入室', "/rooms/#{@room.id}", method: :get, class:"roomEntry_link" %></td>
                <% end %>
              <% end %>

          <% else %>
            <td class="roomEmpty"> </td>
          <% end %>
          </tr>
        <% end %>
        <% end %>

    </tbody>
  </table>

<% else %>
  <center><h2>申し訳ありません　このページは表示できません…  </h2></center>
  <center><%= link_to "トップへ戻る", users_path %></center>
<% end %>

</div>
