<%= form_with(model: @user) do |form| %>

    <center>
      <table>
        <tbody>
          <tr>
            <td class="user_create_label">名前　　　</td>
            <td><%= form.text_field :name, class:"user_create_field", id:"user_create_field", placeholder: "名前" %></td>
          </tr>

          <tr>
            <td class="user_create_label">ユーザーID　　　</td>
            <td><%= form.text_field :userid, class:"user_create_field", placeholder: "ユーザーID" %></td>
          </tr>

          <tr>
            <td class="user_create_label">タグ付け　　　</td>
            <td><%= form.text_area :description, class:"user_create_field", placeholder: "タグ付け" %></td>
          </tr>

          <tr>
            <td class="user_create_label">プロフィール画像   </td>
            <td>
              <center><%= form.label :image, "プロフィール画像を追加", class:"image_input_btn" %></center>
              <%= form.file_field :image, class:"image_form" %>
            </td>
          </tr>
        </tbody>
      </table>

      <%= form.hidden_field :flag, :value=>"1" %>


      <p><%= form.submit "更新する", class:"user_edit_link" %></p>
    </center>
<% end %>



<script type="text/javascript">
  window.addEventListener('load', function() {
    document.getElementById('user_create_field').focus();
  })
</script>
