<p id="notice"><%= notice %></p>

<body class="body">
  <%
    room1 = Room.find_by(user_id1:current_user.id)
    room2 = Room.find_by(user_id2:current_user.id)
    friend11, friend12, friend21, friend22 = nil, nil, nil, nil

    if room1 != nil
      friend11 = Friend.find_by(user_id:room1.user_id2, friend_id:room1.user_id1, allow:true)
      friend12 = Friend.find_by(user_id:room1.user_id1, friend_id:room1.user_id2, allow:true)
    elsif room2 != nil
      friend21 = Friend.find_by(user_id:room2.user_id2, friend_id:room2.user_id1, allow:true)
      friend22 = Friend.find_by(user_id:room2.user_id1, friend_id:room2.user_id2, allow:true)
    end

    if(room1 == nil && room2 == nil)
  %>
    <center><h2>申し訳ありません　このページは表示できません…  </h2></center>
    <center><%= link_to "トップへ戻る", users_path %></center>
  <% elsif (friend11 != nil && friend12 != nil) || (friend21 != nil && friend22 != nil) %>

  <%
    sender_id, receiver_id = @room.user_id1, @room.user_id2
    if sender_id != current_user.id
      sender_id, receiver_id = receiver_id, sender_id
    end
    senderid = User.find(sender_id).userid
    roomid = @room.id
    room_id = "comments" + roomid.to_s + "_" + @room.user_id1.to_s + "_" + @room.user_id2.to_s
  %>

  <div id="msg_box" class="msg_box" align="">
    <div id='<%= room_id%>'>
      <%= render @comments %>
    </div>
  </div>

  <div name="msg_form" align="center" class="comment_form">
    <%= form_with(model: Comment.new(), id:"form" ) do |form| %>
      <%= form.hidden_field :senderid, :value => senderid, id:"form_senderid" %>
      <%= form.hidden_field :sender_id, :value => sender_id, id:"form_sender_id" %>
      <%= form.hidden_field :receiver_id, :value => receiver_id, id:"form_receiver_id" %>
      <%= form.hidden_field :room_id, :value => roomid, id:"form_room_id" %>

      <table>
        <tr>
          <td><%= form.text_area :content, id:"comment_form", class: "comment_form", data: { behavior: 'room_speaker'}, placeholder: "ここにメッセージを入力..." %></td>
          <td><%= form.submit "送 信", id:"comment_form_btn", class:"comment_form_btn" %></td>
        </tr>
      </table>
    <% end %>
  </div>

  <% else %>
    <center><h2>申し訳ありません　このページは表示できません…  </h2></center>
    <center><%= link_to "トップへ戻る", users_path %></center>
  <% end %>
</body>



<script type="text/javascript">
  window.addEventListener('load', function() {
    document.getElementById('comment_form').focus();
  })
</script>
