<%
  status_id = "status_" + current_user.to_s
%>

<div id='<%= status_id %>'>
  <% if current_user != nil %>
    <h3>
      <% if User.find(current_user.id).image.url != nil %>
        <%= image_tag User.find(current_user.id).image.url, :class => "room_icons" %>
      <% else %>
        <%= image_tag "人物_デフォルト.png", :class => "room_icons" %>
      <% end %>
      <%= link_to current_user.userid, "/users" %> としてログインしています

    </h3>
  <% else %>
    <h3>ようこそ ゲスト さん</h3><br>
  <% end %>

  <% if current_user != nil %>
    <input type="hidden" id="current_user_variable" value="<%= current_user.id %>">
  <% end %>
</div>
