<!DOCTYPE html>
<html>
  <head>
    <title>Commenter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= render 'layouts/status' %>
  </header>

  <body>
    <% if current_user != nil %>
      <h4><%= current_user + " さんへのNews"%></h4>
    <% else %>
      <h4><%= "ゲスト" + " さんへのNews"%></h4>
    <% end %>
    
    <div class="news">
      <%= render 'layouts/request' %>
      <%= render 'layouts/news' %>
    </div>
    <%= yield %>
  </body>
</html>
