<!DOCTYPE html>
<html>
  <head>
    <% if current_user != nil %>
      <title><%= current_user.userid + " のページ" %></title>
    <% else %>
      <title>ゲストさん のページ</title>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header align="left" class="status">
    <%= render 'layouts/status' %>

    <div class="top_msg">
      <% if flash.empty? == false %>
        <% flash.each do |key, msg| %>
          <div class="<%= key %> top_msg"><%= msg %></div>
        <% end %>
      <% else %>
        <%= "" %>
      <% end %>
    </div>
  </header>

  <body>
    <% if current_user != nil %>
      <h4><%= current_user.userid + " さんへのNews"%></h4>
    <% else %>
      <h4><%= "ゲスト" + " さんへのNews"%></h4>
    <% end %>

    <div class="news">
      <%= render 'layouts/request' %>
      <%= render 'layouts/news' %>
    </div>
    <%= yield %>
  </body>
</html>
